# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules

/.next/
/tsconfig.tsbuildinfo

.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*

/.local

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
/.vscode

# 以上改编自 .gitignore

Dockerfile
Dockerfile_base
.dockerignore
README.md
.gitignore
.git
