ELECTRON_MIRROR=https://registry.npmmirror.com/-/binary/electron
registry=https://registry.npmjs.org/
sass-binary-site=https://registry.npmmirror.com/-/binary/node-sass
sharp_binary_host=https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips

auto-install-peers=true
node-linker=hoisted
enable-pre-post-scripts=true
