@import './github-markdown.scss';
@import './prism-line-number.css';
@import './prism-vsc-dark-plus.scss';

.markdown-body {
  img {
    margin: auto;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  code,
  tt {
    border-radius: 4px;
  }
  button > p {
    margin-bottom: 0;
  }
  .user-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > .user-anchor {
      position: absolute;
      float: left;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-right: 4px;
      margin-left: -28px;
      opacity: 0;
    }
    &:hover > .user-anchor {
      opacity: 1;
    }
  }
}
