.previewEnabled {
  cursor: zoom-in;
}

.error,
.loading {
  position: relative;
}

.error::before {
  position: absolute;
  pointer-events: none;
  user-select: none;

  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5 url('/static/images/break.svg') no-repeat center / 48px
    48px;
  color: transparent;
}

.error::after {
  position: absolute;
  pointer-events: none;
  user-select: none;

  content: attr(alt);
  display: block;
  padding: 0 0.5em;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 2;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  background: #f5f5f5 url('/static/images/loading.svg') no-repeat center / 24px
    24px;
  animation: bg-rotate 2s linear infinite;
}

@keyframes bg-rotate {
  0% {
    background-position: center center;
  }
  40% {
    background-position: center center;
  }
  45% {
    background-position: 45% center;
  }
  50% {
    background-position: 55% center;
  }
  55% {
    background-position: 45% center;
  }
  60% {
    background-position: center center;
  }
  100% {
    background-position: center center;
  }
}
