@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: #1a2027;
  background-color: #eee;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu, Cantarell,
    'Noto Sans', sans-serif, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', Arial;
}

[data-mui-color-scheme='dark'] body {
  color: #eee;
  background-color: #4d4d4d;
}

*:focus-visible {
  /* blue[700] */
  outline: 1px solid #1976d2;
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}
