@import 'tailwindcss';

*:focus-visible {
  /* blue[700] */
  outline: 1px solid #1976d2;
}

input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}

.toaster {
  border-radius: 4px;
  padding: 4px 8px;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  .toaster {
    background-color: #ccc;
  }
}

* {
  scroll-margin-top: calc(40px + 8px);
}

[data-prevent-scroll-margin-header] {
  scroll-margin-top: unset;
}

@media screen and (min-width: 600px) {
  * {
    scroll-margin-top: calc(56px + 8px);
  }

  [data-prevent-scroll-margin-header] {
    scroll-margin-top: unset;
  }
}
