@import './github-markdown.css';
@import './prism-line-number.css';
@import './prism-vsc-dark-plus.css';

.markdown-body {
  img,
  video,
  iframe {
    border: 0;
    margin: 0 auto 16px;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  code,
  tt {
    border-radius: 4px;
  }
  button > p {
    margin-bottom: 0;
  }
  .user-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & .user-anchor {
      position: absolute;
      float: left;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-right: 4px;
      margin-left: -28px;
      opacity: 0;
    }
    .user-anchor:focus-visible,
    &:hover .user-anchor {
      opacity: 1;
    }

    .user-heading-menu-trigger {
      opacity: 0;
    }
    .user-heading-menu-trigger:focus-visible,
    &:hover .user-heading-menu-trigger {
      opacity: 1;
    }
  }

  blockquote {
    background-color: #f8f8f8;
  }
}

[data-dark] .markdown-body {
  blockquote {
    background-color: #1d1d1d;
  }
}
